.follower-count {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.follower-header {
    font-family: 'Times New Roman', Times, serif;
}
/*
.follower-hr {
    margin-bottom: 1rem;
}
*/
.follower-table {
    margin-left: auto;
    margin-right: auto;
}
th {
    color: white;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
td {
    color: white;
    text-align: center;
}