body {
    background-color: black;
}
section {
    margin-top: 3rem;
    display: block;
    text-align: center;
    color: white;
}
h1 {
    font-size: 18px;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
img {
    height: 600px;
}
.business{
    margin-top: 2rem;
    line-height: 0;
}
.email {
    height: 14px;
    margin-right: 10px;
}
.social-media-headers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 0;
    padding: 0;
}
.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.picture img {
    /*
    margin-top: -665px;
    margin-left: -315px;
    */
    margin-top: -360px;
    margin-left: -155px;
}
.purple-block {
    margin-left: 1rem;
    position: fixed;
    background-color: purple;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    z-index: -2;
    animation: flying 5s ease-in-out alternate infinite;
}
.purple-block {
    margin-left: 2rem;
    position: fixed;
    background-color: purple;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    z-index: -2;
    animation: flying 5s ease-in-out alternate infinite;
}
.purple-block2 {
    margin-left: 25rem;
    position: fixed;
    background-color: purple;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    z-index: -2;
    animation: flying 10s ease-in-out alternate infinite;
}
.purple-block3 {
    margin-left: 55rem;
    position: fixed;
    background-color: purple;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    z-index: -2;
    animation: flying 15s ease-in-out alternate infinite;
}
.purple-block4 {
    margin-left: 75rem;
    position: fixed;
    background-color: purple;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    z-index: -2;
    animation: flying 25s ease-in-out alternate infinite;
}
.headers {
    line-height: 1px;
}
.instagram, .youtube, .github, .stackoverflow, .linkedin{
    color: white;
    font-size: 40px;
    text-decoration: none;
    margin-right: .75rem;
}
.tiktok {
    background-color: purple;
    margin-left: 1rem;
}
.social-media-body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    background-color: purple;
    width: 45%;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    height: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.social-media-body:hover .tiktok,
.social-media-body:hover{
    background-color: white;
    cursor: pointer;
    transition: .75s;
}
.social-media-body:hover .vsco-icon,
.vsco-icon:hover{
    fill: #000000;
    cursor: pointer;
    transition: .75s;
}
.tiktok-text, .snapchat-text, .facebook-text, .discord-text, .telegram-text, .vsco-text{
    margin-left: 1rem;
    font-size: 18px;
    line-height: 1px;
    align-self: center;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
.snapchat-icon, .facebook-icon, .discord-icon, .telegram-icon, .vsco-icon{
    margin-left: 1.5rem;
    align-self: center;
}
.bottom-text {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    bottom: 0;
}
@keyframes flying {
    from {
        bottom: 0;
        transform: rotate(0) scale(2);
    }
    to {
        bottom: 95%;
        opacity: 25%;
        transform: rotate(1048deg) scale(1);
    }
}
@media (max-width: 1050px) {
    .social-media-body {
        width: 69%;
    }
    .purple-block {
        margin-left: 1.5rem;
        height: 20px;
        width: 20px;
    }
    .purple-block2 {
        margin-left: 7rem;
        height: 25px;
        width: 25px;
    }
    .purple-block3 {
        margin-left: 15rem;
        height: 30px;
        width: 30px;
    }
    .purple-block4 {
        margin-left: 25rem;
        height: 35px;
        width: 35px;
    } 
    hr {
        width: 25%;
    }
}
@media (max-width: 800px) {
    .snapchat-icon, .facebook-icon, .discord-icon, .telegram-icon, .vsco-icon{
        margin-left: 1rem;
    }
    .tiktok-text, .snapchat-text, .facebook-text, .discord-text, .telegram-text, .vsco-text{
        font-size: 14px;
    } 
}