body {
    background-color: black;
}
header>a {
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
}
header>a:hover {
    cursor: pointer;
}
.home-button {
    position: absolute;
    left: 1rem;
    top: 1rem;
}
.music-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.movie-button {
    position: absolute;
    right: 7rem;
    top: 1rem;
}
section {
    margin-top: 3rem;
    display: block;
    text-align: center;
    color: white;
}
.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}
/* This is the original picture
.picture img {
    margin-top: -360px;
    margin-left: -155px;
}
*/
.picture img {
    margin-top: -225px;
    margin-left: -375px;
    transform: scale(.25);
}
h1 {
    font-size: 18px;
}
hr {
    width: 10%;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
span {
    font-size: 2.5rem;
    margin-left: 3rem;
    align-self: flex-end;
    color: black;
}
li {
    text-align: start;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}
.headers {
    line-height: 1px;
}
img {
    height: 600px;
}
.business {
    margin-top: 2rem;
    line-height: 0;
}
.email {
    height: 14px;
    margin-right: 10px;
}
.social-media-headers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 0;
    padding: 0;
}
.top-section {
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: .25rem;
    margin-bottom: .5rem;
    text-decoration: none; 
    margin-right: .5rem; 
    border: solid white 1px;
    padding: 1rem;
}
.top-section:hover {
    color: black;
    background-color: white;
}
.github, .linkedin, .stackoverflow, .youtube, .WJ {
    color: white;
    font-size: 40px;
    text-decoration: none;
    margin-right: .75rem;
}
.finance, .code, .connect, .sponsors, .social, .video, .projects {
    display: none;
}
.code-body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    background-color: white;
    border: solid purple 5px;
    width: 25%;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    height: 50px;
    padding-top: 2px;
    padding-bottom: 2px; 
}
.code-body:hover {
    background-color: white;
    cursor: pointer;
    transition: .75s;
}
.code-body:hover>.code-text {
    color: black;
}
.stackoverflow-block {
    position: absolute;
    color: orange;
    text-decoration: none;
    margin-left: 1.5rem;
    align-self: center;
}
.stackoverflow-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1px;
    align-self: center;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
.github-block {
    position: absolute;
    text-decoration: none;
    margin-left: 1.5rem;
    align-self: center;
}
.github-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1px;
    align-self: center;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif; 
}
.gitlab-icon {
    position: absolute;
    margin-left: 1.5rem;
    align-self: center;
}
.gitlab-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1px;
    align-self: center;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif; 
}
.connect-body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 25%;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    height: 50px;
    padding-top: 2px;
    padding-bottom: 2px;   
}
.connect-body:hover {
    background-color: white;
    cursor: pointer;
    transition: .75s; 
}
.connect-body:hover>.connect-text {
    color: black;
}
.linkedin-block {
    position: absolute;
    color: blue;
    text-decoration: none;
    margin-left: 1rem;
    align-self: center; 
}
.medium, .mathematics, .meta {
    position: absolute;
    margin-left: 1rem;
    align-self: center;
}
.linkedin-text, .medium-text, .mathematics-text, .politics-text, .meta-text, .math-meta-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 1px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    align-self: center;
}
.bottom-text {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    bottom: 0;
}
.created {
    font-size: 10px;
}
.block {
    margin-left: 1rem;
    position: fixed;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    z-index: -2;
    animation: flying 5s ease-in-out alternate infinite;
}
.block2 {
    margin-left: 25rem;
    position: fixed;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    z-index: -2;
    animation: flying 10s ease-in-out alternate infinite;
}
.block3 {
    margin-left: 55rem;
    position: fixed;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    z-index: -2;
    animation: flying 15s ease-in-out alternate infinite;
}
.block4 {
    margin-left: 75rem;
    position: fixed;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    z-index: -2;
    animation: flying 25s ease-in-out alternate infinite;
}
.hamburger {
    position: absolute;
    display: block;
    right: 4rem;
    align-self: center;
}
.hamburger .hr1, .hr2, .hr3 {
    width: 25px;
    margin: 5px 0;
    border: 2px solid black;
}
.hr1, .hr2, .hr3 {
    transition: 1s;
}
.change .hr1 {
    transform: rotate(-45deg) translate(-5px, 7px); 
  }
.change .hr2 {
    opacity: 0;
} 
.change .hr3 {
    transform: rotate(45deg) translate(-5px, -8px); 
}
.music {
    display: none;
}
.movie-section {
    margin-top: 1rem;
    width: 500px;
}
.movie {
    display: none;
}
@keyframes flying {
    from {
        bottom: 0;
        transform: rotate(0) scale(2);
    }
    to {
        bottom: 95%;
        opacity: 25%;
        transform: rotate(1048deg) scale(1);
    }
}
@media (max-width: 1050px) {
    .code-body {
        width: 69%;
    }
    .connect-body {
        width: 69%;
    }
    .social-media-body {
        width: 69%;
    }
    .video-media-body {
        width: 69%;
    }
    .github-text, .gitlab-text, .stackoverflow-text, .WJ-text {
        font-size: 14px;
    }
    .block {
        margin-left: 1.5rem;
        height: 20px;
        width: 20px;
    }
    .block2 {
        margin-left: 7rem;
        height: 25px;
        width: 25px;
    }
    .block3 {
        margin-left: 15rem;
        height: 30px;
        width: 30px;
    }
    .block4 {
        margin-left: 25rem;
        height: 35px;
        width: 35px;
    } 
    hr {
        width: 25%;
    }
    .movie-section {
        height: 300px;
        width: 300px;
    }
}