.video-media-body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    background-color: darkgrey;
    width: 25%;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    height: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.video-media-body:hover>.rumble-text, .video-media-body:hover>.youtube-text, .video-media-body:hover>.twitch-text {
    color: #000000;
}
.video-media-body:hover{
    background-color: white;
    cursor: pointer;
    transition: .75s;
}
.rumble-logo {
    height: 35px;
    margin-left: 1rem;
    margin-top: .5rem;
}
.twitch-logo {
    height: 35px;
    margin-top: .5rem;
}
.youtube-icon, .twitch-icon, .rumble-logo {
    margin-left: 1.5rem;
    align-self: center;
}
.rumble-text, .youtube-text, .twitch-text {
    margin-left: 1rem;
    font-size: 16px;
    line-height: 1px;
    align-self: center;
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
@media (max-width: 800px) {
    .twitch-icon {
        margin-left: 1rem;
    }
    .twitch-text, .youtube-text, .rumble-text {
        font-size: 14px;
    } 
}